body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #333;
}

#tasks-table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}

#tasks-table th, #tasks-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.run-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.run-button:hover {
    background-color: #45a049;
}